<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>

<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>

    
    <button class="login loginmodal-submit" (click)="loginWithGoogle()">Login With Google</button>
    
    
  </div>
</div>
